.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;

    a {
        color: black;
        text-decoration: none;
        margin-right: 50%;
        font-size: 30px;
    }

    .sign-out {
        font-size: 16px;
        border: 1px solid black;
    }
}