<!-- <app-search-panel></app-search-panel> -->
<div class="wrapper">
    <div class="search">
        <div class="search-elements">
            <input [(ngModel)]="search" matInput placeholder="What you search?">
            <button (click)="getUser()" mat-button>Search!</button>
        </div>
        <p *ngIf="howUsers">{{howUsers}} users was found</p>
    </div>
    <div>
        <p *ngIf="howUsers === 0">Users not found</p>
    </div>
    <mat-grid-list cols="5" *ngIf="data && message === ''">
        <mat-grid-tile *ngFor="let item of data">
            <div class="user-cards">
                <img width="50%"src={{item?.avatar_url}}>
                <p>Login: {{item?.login}}</p>
                <p>Id: {{item?.id}}</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>

